<table>
  <thead>
    <tr id="<%= dom_id product %>">
      <th>
        <strong>Name</strong>
      </th>

      <th>
        <strong>Stock qty</strong>
      </th>
      <th>
        <strong>Price</strong>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr id="<%= dom_id product %>">
      <td>
        <%= product.name %>
      </td>

      <td>
        <%= product.stock_qty %>
      </td>
      <td>
        <%= product.price %>
      </td>
    </tr>
  </tbody>
</table>
